/** {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main {
  display: flex;
}
/*1
.contactos {
  padding: 20px;
  width: 200px;
  background-color: blue;
}
.contactos .contacto {
  display: flex;
  min-height: 80px;
}
.contactos .contacto img {
  width: 50px;
  border-radius: 60px;
}
.contactos {
  padding: 40px;
}
/*2
.principal {
  width: 100%;
  text-align: center;
  padding-top: 150px;
  background-color: plum;
}
.principal img {
  width: 400px;
}
*/
* {
  margin: 0;
  padding: 0;
}
p{
  font-size:small;
}
main {
  display: flex;
}
.principal {
  display: flex;
  width: 100%;
  text-align: center;
  padding-top: 150px;
  background-color: antiquewhite;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal img {
  width: 250px;
}
.contactos {
  padding: 20px;
  width: 300px;
}
.contactos .contacto {
  display: flex;
  min-height: 95px;
  border-top: solid 1px;
  border-color: lightgray;
  padding: 5px;
}
.contactos .contacto img {
  width: 60px;
  border-radius: 30px;
}
.contactos .contacto .info {
  text-align: left;
  padding: 10px;
  width: 300px;
}
