* {
  margin: 0;
  padding: 0;
}
p {
  font-size: small;
}
main {
  display: flex;
}
.principal {
  display: flex;
  width: 100%;
  text-align: center;
  padding-top: 150px;
  background-color: antiquewhite;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal img {
  width: 250px;
}
.contactos {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  border-right: solid 1px;
  border-color: lightgray;
  max-height: 100vh;
}
.contactos .contacto {
  display: flex;
  min-height: 50px;
  border-top: solid 1px;
  border-color: lightgray;
  padding: 3px;
}
.contactos .contacto:hover {
  display: flex;
  min-height: 95px;
  border-top: solid 1px;
  border-color: lightgray;
  padding: 3px;
  background-color: black;
  color: fuchsia;
  cursor: pointer;
}
.contactos .contacto img {
  width: 60px;
  border-radius: 100%;
}
.contactos .contacto .info {
  text-align: left;
  padding: 10px;
  width: 300px;
  cursor: pointer;
}
.ladrar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  border-top: solid 1px;
  border-color: lightgray;
  padding: 3px;
}
.ladrar button:hover {
  background-color: black;
  color: fuchsia;
}
.ladrar button {
  padding: 5px;
  background-color: pink;
  color: white;
  border-radius: 10px;
  border-style: outset;
}
.contactos nav {
  display: flex;
  justify-content: space-between;
}
.contactos nav img {
  width: 60px;
  border-radius: 30px;
}
.contactos nav .perfil {
  display: flex;
  font-size: 10px;
  align-items: center;
}
.contactos nav .perfil .info {
  padding: 5px;
}
.contactos nav .items {
  display: flex;
  align-items: center;
}
.contactos nav .items i {
  padding: 5px;
  cursor: pointer;
}
